body {
    color: gray;
}

/* ▼ハイライト部分の装飾 */
span.mark1 { background-color: yellow; } /* 黄色ハイライト用 */
span.mark2 { background-color: lime; }   /* 緑色ハイライト用 */
span.mark3 { background-color: #0ff; }   /* 水色ハイライト用 */