body {
    background-color: #f4f5f8;
    font-family: "Helvetica Neue","Segoe UI", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    word-wrap: break-word;
}
header{
    display: block;
    height: 72px;
    border: none;
}

textarea{
    font-family : inherit;
    font-size: 18px;
    resize: vertical;
    width:100%;
    min-height: 200px;
    margin: 1.5em 0;           /* 外側余白 */
}

.hero-header{
    padding: 0.7rem 0; 
    border-bottom: 1px solid #55575a;
}

.hero-header_visual{
    text-align: center;
}
.contents{
    padding: 2.5rem 0;
    font-size: 18px;
    text-align: center;
}

.wrap{
    display: table;
    margin: auto;
    width: 70%;
    text-align: left;
}

.wrap_outer{
    display: table-cell;
    background-color: white;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    width: 48%;
    position: relative;
}

.wrap_inner{
    padding: 2.0rem;
}

/* ▼対象文章枠の装飾（任意） */
#id_output_str {
    border: 2px solid gray;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0;          /* 内側余白 */
    width: 100%;             /* 横幅 */
    box-sizing: border-box;  /* はみ出しを防ぐ対策 */
    background-color: #fff;  /* 背景色 */
    line-height: 1.6;        /* 行の高さ */
    min-height: 200px;
}
/* ▼ハイライトON/OFFボタン枠の装飾（任意） */
.controlpanel {
    margin: 1em 0;           /* 外側余白 */
    padding: 1em;            /* 内側余白 */
    background-color: #eee;  /* 背景色 */
}
/* ▼ハイライト部分の装飾 */
span.mark { 
    background-color: yellow; 
} /* ハイライトの色指定 */

/* ▼ハイライト部分の装飾 */
span.mark2 { 
    margin: 1em 0.2em;           /* 外側余白 */
    padding: 0.2em;            /* 内側余白 */
    background-color: white; 
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
} /* ハイライトの色指定 */


button.word-piece {
	color: red;
	border: solid 1px #ccc;
	border-radius: 4px;
	cursor: pointer;
}

button.word-piece.selected {
	color: #fefefe;
	background: red;
	border-color: red;
}
